<% cancel_path ||= cohort_subscription.persisted? ? [:account, cohort_subscription] : [:account, @project, :cohort_subscriptions] %>

<%= form_with model: cohort_subscription, url: (cohort_subscription.persisted? ? [:account, cohort_subscription] : [:account, @project, :cohort_subscriptions]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/super_select', method: :cohort_id, options: {autofocus: true}, html_options: {autofocus: true},
        choices: @cohort_subscription.valid_cohorts.map { |cohort| [cohort.label_string, cohort.id] } %>
      <%= render 'shared/fields/super_select', method: :state_of_interest %>
      <%= render 'shared/fields/number_field', method: :amount %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
