<% cohort_subscriptions = cohort_subscriptions.accessible_by(current_ability) %>
<% project = @project %>
<% context ||= project %>
<% collection ||= :cohort_subscriptions %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, cohort_subscriptions = pagy(cohort_subscriptions, page_param: :cohort_subscriptions_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless cohort_subscriptions.any?}") %>
        <%= render "shared/limits/index", model: cohort_subscriptions.model %>
      <% end %>

      <% box.table do %>
        <% if cohort_subscriptions.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.cohort.heading') %></th>
                <th><%= t('.fields.state_of_interest.heading') %></th>
                <th><%= t('.fields.amount.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/cohort_subscriptions/cohort_subscription', collection: cohort_subscriptions %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == project %>
            <% if can? :create, CohortSubscription.new(project: project) %>
              <%= link_to t('.buttons.new'), [:new, :account, project, :cohort_subscription], class: "#{first_button_primary(:cohort_subscription)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if cohort_subscriptions.many? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:cohort_subscription)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
